


body{
    background-color: rgb(237, 134, 31);
}

/* header sytles */

header {
    background-color: hotpink;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 5px;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push {
    margin-left: auto;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    transition-duration: 2s;
}

button:hover {
    background-color: gray;
    color: white;
}

button:active {
    background-color: grey;
    translate: translateY(4px);
}

img {
    height: 650px;
}

h3 {
    text-align: top;
}

/* section one flex grow and shrink */

.section-one {
    background-color: blueviolet;
    
    
}

.flexgrow-container {
    display: flex;
}

.box1 {
    background-color: skyblue;
    
    height: 200px;
    flex: 1 1 auto;

}

.box2 {

    background-color: lightgreen;
    
    height: 200px;
    flex: 1 1 auto;
}

.box3 {

    background-color: darkmagenta;
    
    height: 200px;
    flex: 1 1 auto;

}

/* section 2 center item */

.section-two {
    background-color: pink;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section 3 youtube video */

.section-three {
    background-color: lightcoral;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

iframe { 
    padding: 5px;
    width: 560px;
    height: 315px;
}


/* section 4 embed audio */

.section-four {
    background-color: darkslateblue;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/* section 5 media items */

.section-five {
    background-color: rgb(34, 138, 112);
    height: 1400px;

}

.media-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.media-container .mediacontent {
    flex: 1;
    padding: 10px;
}

.section-six {
    background-color: royalblue;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

h2 {
    font-size: 32px;
    text-align: center;
}
